<h2 {% if site.style == 'dark' %}class="text-white"{% endif %}>Some Relevant Courses</h2>
<div>
  <p class="f5 mb-4 {% if site.style == 'dark' %}text-white{% else %}text-gray{% endif %}">
Computation and the Brain, Psychology, Python, Java, Advanced Programming (C/C++,Unix), Data Structures, Analysis of Algorithms, Fundamentals of Computer Systems, Discrete Math, Linear Algebra, Databases, Artificial Intelligence, Probability & Statistics, CS Theory, Cloud Computing, Computational aspects of Robotics, Natural language processing
</p>
</div>
