<h2 {% if site.style == 'dark' %}class="text-white"{% endif %}>Skills</h2>
  <p class="f5 mb-4 {% if site.style == 'dark' %}text-white{% else %}text-gray{% endif %}">
Languages: Most experience with Python, Java, C/C++; some experience with SQL
<br>Software tools: Most experience with Solidworks CAD, git; some experience with: MySql, REST, AWS ECS, AWS EC2, AWS CodeCommit, Flask, 
<br>Hardware: Arduino, Particle.io, heavy machinery (backhoes, tractors), MIG/TIG welding, all power tools, automotive and marine engine repair
</p>

</div>
